{% extends 'base.html' %}


{% block content %}
   <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="float-lg-none"><img src=http://chuantu.xyz/t6/702/1557929597x1033347913.png /></div>
            <div class="float-lg-none">
			<ul>
				<li class="list-item">
					姓名：伟业
				</li>
				<li class="list-item">
					年龄：20
				</li>
				<li class="list-item">
					联系方式：18306832083
				</li>
				<li class="list-item">
					座右铭：永远的学习者
				</li>
			</ul>
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h4>
					<strong>我的技能</strong>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="card text-white bg-primary">
				<h5 class="card-header">
					程序语言<img src=http://chuantu.xyz/t6/702/1557932264x2073530527.png />
				</h5>
				<div class="card-body">
					<p class="card-text">
						熟悉Python基础语法体系，优美胜于丑陋，简洁胜于复杂
					</p>
				</div>

			</div>
		</div>
		<div class="col-md-3">
			<div class="card text-white bg-success">
				<h5 class="card-header">
					框架<img src=http://chuantu.xyz/t6/702/1557928332x2890149604.png />
				</h5>
				<div class="card-body">
					<p class="card-text">
						擅长Python-Flask 框架，MVC架构，包组织代码方式，前端bootstrap
					</p>
				</div>

			</div>
		</div>
		<div class="col-md-3">
			<div class="card text-white bg-info">
				<h5 class="card-header">
					爬虫与数据分析<img src=http://chuantu.xyz/t6/702/1557930274x2073530527.png />
				</h5>
				<div class="card-body">
					<p class="card-text">
						经常使用requests库，BeautifulSoup库，并实现数据持久化

					</p>
				</div>

			</div>
		</div>
		<div class="col-md-3">
			<div class="card text-white bg-danger">
				<h5 class="card-header">
					机器学习<img src=http://chuantu.xyz/t6/702/1557932297x2073530527.png />
				</h5>
				<div class="card-body">
					<p class="card-text">
						了解监督学习中的假设函数以及代价函数，解决线性回归问题
					</p>
				</div>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h4>
					<strong>我的展望</strong>
				</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card text-white bg-danger">
				<h5 class="card-header">
					Execution
				</h5>
				<div class="card-body">
					<p class="card-text">
						Get things done
					</p>
				</div>

			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-white bg-warning">
				<h5 class="card-header">
					lifelong-learning
				</h5>
				<div class="card-body">
					<p class="card-text">
						Nothing last but last learn
					</p>
				</div>

			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-white bg-primary">
				<h5 class="card-header">
					Communication
				</h5>
				<div class="card-body">
					<p class="card-text">
						learn how to collaborate with others
					</p>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock %}